@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.question-item {
    width: 100%;
    min-height: calc(100vh - 72px);
    text-align: center;
    border-bottom: 2px solid #F5F5F5;
    background: #8f8d8d;
    font-family: 14px 'Poppins', sans-serif;
    transition: .3s ease-in;
    position:relative;
}

.question-item a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.question-list {
    background: #8f8d8d;
    padding: 15px;
}

.question-list h2 {
    font-size: 44px;
    font-weight: 400;
    color: #444444;
    margin: 100px 0 10px 0;
}

.choices {
    font: 32px !important;
    padding: 40px;
    text-align: left;
    margin: 10px;
}

.choices input {
    font-size: 32;
}

.page {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
}

.back-btn {
    position: absolute;
    bottom: 65px;
    left: 25%;
}

.next-btn {
    position: absolute;
    bottom: 65px;
    right: 25%;
}

.sendform-btn {
    position: absolute;
    bottom: 65px;
    left: 40%;
    right: 40%;
}

.container_validation_error {
    z-index: 100; 
    position: fixed;
    left: 37%;
    right: 40%;
    bottom: 65px;
    width: 360px;;
    height: 160px;  
    background: #444444;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    vertical-align: middle;
    
}

.container_validation_error h1 {
    font-size: 32px;
    color:rgb(203, 71, 71);
    padding-top: 60px;
}
