.result-item {
    width: 100%;
    min-height: calc(100vh - 72px);
    text-align: center;
    border-bottom: 2px solid #F5F5F5;
    background: #8f8d8d;
    font-family: 14px 'Poppins', sans-serif;
    transition: .3s ease-in;
}

.result-list {
    background: #8f8d8d;
    padding: 15px;
    align-items: center;
}

.result-list h2 {
    font-size: 44px;
    font-weight: 400;
    color: #444444;
    margin: 100px 0 10px 0;
}

.result-list table {
    border: 2px solid black;
    margin: auto;
    font-size: 34px;
}

