{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="/static/login.css">
    <link rel="stylesheet" href="/static/question.css">
    <link rel="stylesheet" href="/static/result.css">
    <title>testo</title>
</head>
<body>
    <div class="header">
        <div class="header-start">
            <a href="{% url 'home' %}" class="mobile-btn">
                <span class="material-icons">testo</span>
            </a>
        </div>
        <div class="header-end">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="link-fill">Logout</a>
                <a href="#">Hi, {{ user.username}}!</a>
            {% else %}
                <a href="{% url 'signup' %}">Sign up</a>
                <a href="{% url 'login' %}" class="link-fill">Sign In</a>
            {% endif %}
        </div>
    </div>
    <div class="content-wrapper">
        {% block content %}
        {% endblock %}
        {% block alert %}
        {% endblock %}
    </div>
</body>
</html>