{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        {% for test in object_list %}
        <div class="product-item">
            <div class="product-list">
                <h3>{{ test.title }}</h3> 
                <a href="{{ test.slug }}" class="button">test</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="alert">
            <h1>Please, create an account or login</h1>
        </div>
    {% endif %}
{% endblock %}
