{% extends "base.html" %}

{% block content %}
<div class="question-item">
    <div class="question-list">
        {% for question in page.object_list %}
            <form action="" id="answer_form" method="POST">
                {% csrf_token %}    
                <input type="hidden" name="question" id="question" value="{{ question }}">
                <h2>{{ question }}</h2>
                {{ form.choice }}
            </form>
        {% endfor %}
    </div>
    <div class="page">{{ page.number }}/{{ amount_pages }}</div>
    {% if page.has_next %}
        <a href="#" onclick="document.getElementById('answer_form').submit(); return false;" class="sendform-btn">next</a> 
    {% else %}
        <a href="#" onclick="document.getElementById('answer_form').submit(); return false;" class="sendform-btn">result</a>
    {% endif %}
</div>

{% endblock %}
{% block alert %}
    {% if form_errors %}
        <div class="container_validation_error" onclick="this.style.display='none';">
            <h1>{{ form_errors }}</h1>
        </div>
    {% endif %}
{% endblock %}

