{% extends "base.html" %}

{% block content %}
    <div class="login-page">
        <div class="form">
            <form method="POST" class="login-form">
                <input type="text" placeholder="username" name="username"/>
                <input type="password" placeholder="password" name="password"/>
                <button type="submit">login</button>
                <p class="message">Not registered? <a href="{% url 'signup' %}">Create an account</a></p>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}
